doctype html
html
  include ../includes/head.jade
  include ../includes/main_style.jade
  body
    include ../includes/main_nav.jade
    //contents
    .container-fluid.text-left
      .row.content
        // sidenav collapse type
        .col-sm-2.sidenav
          .panel-group
            .panel.panel-default
              .panel-heading
                .panel-title
                  a(data-toggle='collapse' href='#collapse1') 2016 Issues
              #collapse1.panel-collapse.collapse.in
                ul.list-group
                  each issue in rows
                    li.list-group-item
                      a(href='/health/hotboard/'+issue.id)= issue.title
        .col-sm-8
          // content blog 본문 구성
          if issues
            h2= issues.title
            hr
            h6= issues.writetime
            hr
            !{issues.content}
            br
            h6.text-right by !{issues.author}
            hr
            a.btn.btn-default(href='/health/hotboard/'+issues.id+'/delete', role='button') delete
            a.btn.btn-default(href='/health/hotboard/'+issues.id+'/edit', role='button') edit
            a.btn.pull-right.btn-default(href='/health/hotboard_add', role='button') add
          else
            h2= rows[0].title
            hr
            h6= rows[0].writetime
            hr
            !{rows[0].content}
            br
            h6.text-right by !{rows[0].author}
            hr
            a.btn.btn-default(href='/health/hotboard/'+rows[0].id+'/delete', role='button') delete
            a.btn.btn-default(href='/health/hotboard/'+rows[0].id+'/edit', role='button') edit
            a.btn.pull-right.btn-default(href='/health/hotboard_add', role='button') add
        .col-sm-2.sidenav
          .well
            p ADS
          .well
            p ADS
    //footer
    hr
    br
    include ../includes/footer.jade
